# Problem Statement

Analytics Vidhya conducted an assessment test to hire a Data Scientist. The
candidates were evaluated on 5 different subjects A, B, C, D, and E. The marks of
5 different subjects out of 100 are given below. Help Analytics Vidhya to find out
the answers of the following questions.

# Questions 
1. Who scored the highest marks in the subject B?
2. What is the average marks scored in the subject C?
3. Who scored the highest percentage of marks?
4. If considered only top-4 subjects of a candidate, then who scored the highest
percentage of marks

In [1]:
# student marks
student_marks=[["Name",    ["A","B","C","D","E"]],
               ["Ankit",   [41,34,45,55,63]],
               ["Aravind", [42,23,34,44,53]],
               ["Lakshay", [32,23,13,54,67]],
               ["Gyan",    [23,82,23,63,34]],
               ["Pranav",  [21,23,25,56,56]]
              ]

# Q1. Who scored the highest marks in the subject B?

#exploration

In [2]:
student_marks[0]

['Name', ['A', 'B', 'C', 'D', 'E']]

In [3]:
student_marks[1]

['Ankit', [41, 34, 45, 55, 63]]

In [4]:
student_marks[2]

['Aravind', [42, 23, 34, 44, 53]]

# steps
1. Slicing should happen from student_marks[1], since student_marks[0] contains only headers.
2. extract Name index and Mark index position
3. Create a List of Name with associated marks list
4. Sort it with marks
5. find the highest marks and the corresponding Name.

In [5]:
#student_marks[1][0] gives Name
#student_marks[1][1] gives Mark list
#student_marks[1][1][1] gives Subject B Mark

In [6]:
studentMarksB=[]
for std in student_marks[1:]:
    Name=std[0]
    MarksB=std[1][1]
    studentMarksB.append([MarksB,Name])

In [7]:
studentMarksB # List of List with Name with associated marks

[[34, 'Ankit'], [23, 'Aravind'], [23, 'Lakshay'], [82, 'Gyan'], [23, 'Pranav']]

In [8]:
sorted(studentMarksB) #Sort marks

[[23, 'Aravind'], [23, 'Lakshay'], [23, 'Pranav'], [34, 'Ankit'], [82, 'Gyan']]

In [9]:
sorted(studentMarksB, reverse=True)[0][1] #Highest Mark

'Gyan'


# Q2. What is the average marks scored in the subject C?

# steps
1. Slicing should happen from student_marks[1], since student_marks[0] contains only headers.
2. extract Subject C Mark index position
3. Create a List of Subject C marks
4. Count the Number of Students
5. Total Sum of Marks of all students
6. Average = Sum / Count

In [10]:
student_marks

[['Name', ['A', 'B', 'C', 'D', 'E']],
 ['Ankit', [41, 34, 45, 55, 63]],
 ['Aravind', [42, 23, 34, 44, 53]],
 ['Lakshay', [32, 23, 13, 54, 67]],
 ['Gyan', [23, 82, 23, 63, 34]],
 ['Pranav', [21, 23, 25, 56, 56]]]

In [11]:
#student_marks[1][0] gives Name
#student_marks[1][1] gives Mark list
#student_marks[1][1][2] gives Subject C Mark

In [12]:
studentMarksC=[]
for std in student_marks[1:]:
    marksC=std[1][2]
    studentMarksC.append(marksC)

In [13]:
studentMarksC #List of Subject C marks

[45, 34, 13, 23, 25]

In [14]:
count= len(studentMarksC)
print("count= ", count) #number of students

count=  5

In [15]:
sumMarkC=0
for i in studentMarksC:
    sumMarkC=sumMarkC+i
print("Sum =", sumMarkC) #Sum of Marks of all students in subject C

Sum = 140

In [16]:
Average=sumMarkC/count
print("Average =",Average)

Average = 28.0

# Q3. Who scored the highest percentage of marks?

# steps
1. Slicing should happen from student_marks[1], since student_marks[0] contains only headers.
2. extract Name and Marks index position
3. Create a List of Name and all Subject marks list
4. Count the Number of subjects
5. List of Total Sum of Marks for each Name
6. Find Percentage
7. Sort

In [17]:
student_marks

[['Name', ['A', 'B', 'C', 'D', 'E']],
 ['Ankit', [41, 34, 45, 55, 63]],
 ['Aravind', [42, 23, 34, 44, 53]],
 ['Lakshay', [32, 23, 13, 54, 67]],
 ['Gyan', [23, 82, 23, 63, 34]],
 ['Pranav', [21, 23, 25, 56, 56]]]

In [18]:
#student_marks[1][0] gives Name
#student_marks[1][1] gives Mark list

In [19]:
studentMarksList=[]
for std in student_marks[1:]:
    Name=std[0]
    MarkList=std[1]
    studentMarksList.append([Name,MarkList])

In [20]:
studentMarksList[:] #List of Name and all Subject marks list

[['Ankit', [41, 34, 45, 55, 63]],
 ['Aravind', [42, 23, 34, 44, 53]],
 ['Lakshay', [32, 23, 13, 54, 67]],
 ['Gyan', [23, 82, 23, 63, 34]],
 ['Pranav', [21, 23, 25, 56, 56]]]

In [21]:
studentMarksList[0][1]

[41, 34, 45, 55, 63]

In [22]:
countsubj= len(studentMarksList[0][1])
print("count= ", countsubj) #count of Subjects

count=  5

In [23]:
total=0
studentTotalmarksList=[] 

for i in studentMarksList:
    name=i[0]
    for j in i[1]:
        total= total+j
    studentTotalmarksList.append([total,name])
    total=0

In [24]:
studentTotalmarksList[:] # list of total marks with name

[[238, 'Ankit'],
 [196, 'Aravind'],
 [189, 'Lakshay'],
 [225, 'Gyan'],
 [181, 'Pranav']]

In [25]:
TotalSum=500 #total sum of marks
finalList=[]
for i in studentTotalmarksList[:]:
    finalList.append([((i[0]/TotalSum)*100),i[1]]) #percentage

In [26]:
finalList #percentage of Marks for each student

[[47.599999999999994, 'Ankit'],
 [39.2, 'Aravind'],
 [37.8, 'Lakshay'],
 [45.0, 'Gyan'],
 [36.199999999999996, 'Pranav']]

In [27]:
sorted(finalList, reverse=True)[0][1]

'Ankit'

# Q4. If considered only top-4 subjects of a candidate, then who scored the highest percentage of marks

# steps

1. Slicing should happen from student_marks[1], since student_marks[0] contains only headers.
2. Create a List of Name and all Subject marks list
3. sort marks in descending order and remove last subject
4. Count the Number of subjects
5. List of Total Sum of Marks for each Name
6. Find Percentage
7. Sort

In [28]:
student_marks

[['Name', ['A', 'B', 'C', 'D', 'E']],
 ['Ankit', [41, 34, 45, 55, 63]],
 ['Aravind', [42, 23, 34, 44, 53]],
 ['Lakshay', [32, 23, 13, 54, 67]],
 ['Gyan', [23, 82, 23, 63, 34]],
 ['Pranav', [21, 23, 25, 56, 56]]]

In [29]:
studentMarksList=[]
for std in student_marks[1:]:
    Name=std[0]
    MarkList=std[1]
    studentMarksList.append([Name,MarkList])

In [30]:
studentMarksList[:] #List of Name and all Subject marks list

[['Ankit', [41, 34, 45, 55, 63]],
 ['Aravind', [42, 23, 34, 44, 53]],
 ['Lakshay', [32, 23, 13, 54, 67]],
 ['Gyan', [23, 82, 23, 63, 34]],
 ['Pranav', [21, 23, 25, 56, 56]]]

In [31]:
studentSortMarksList=[]
for i in studentMarksList[:]:
    Name=i[0]
    Marks=i[1]
    studentSortMarksList.append([sorted(Marks, reverse=True),Name])

In [32]:
studentSortMarksList

[[[63, 55, 45, 41, 34], 'Ankit'],
 [[53, 44, 42, 34, 23], 'Aravind'],
 [[67, 54, 32, 23, 13], 'Lakshay'],
 [[82, 63, 34, 23, 23], 'Gyan'],
 [[56, 56, 25, 23, 21], 'Pranav']]

In [33]:
newlist=[]
for i in studentSortMarksList[:]:
    del i[0][-1]

In [34]:
studentSortMarksList #top-4 subjects of each student

[[[63, 55, 45, 41], 'Ankit'],
 [[53, 44, 42, 34], 'Aravind'],
 [[67, 54, 32, 23], 'Lakshay'],
 [[82, 63, 34, 23], 'Gyan'],
 [[56, 56, 25, 23], 'Pranav']]

In [35]:
countsubj= len(studentSortMarksList[0][0])
print("count= ", countsubj) #count of Subjects

count=  4

In [36]:
#sum of Top-4 subjects

total=0
studentTotalmarksList=[]


for mlist in studentSortMarksList[:]:
    name=mlist[1]
    for j in mlist[0]:
        total= total+j
    studentTotalmarksList.append([total,name])
    total=0

In [37]:
studentTotalmarksList

[[204, 'Ankit'],
 [173, 'Aravind'],
 [176, 'Lakshay'],
 [202, 'Gyan'],
 [160, 'Pranav']]

In [38]:
TotalSum=400 #total sum of marks
finalList=[]
for i in studentTotalmarksList[:]:
    finalList.append([((i[0]/TotalSum)*100),i[1]]) #percentage

In [39]:
finalList #percentage of Top-4 Marks for each student

[[51.0, 'Ankit'],
 [43.25, 'Aravind'],
 [44.0, 'Lakshay'],
 [50.5, 'Gyan'],
 [40.0, 'Pranav']]

In [40]:
sorted(finalList, reverse=True)[0][1]

'Ankit'

# Answers 
1. Gyan scored the highest marks in the subject B
2. The average marks scored in the subject C= 28.0
3. Ankit scored the highest percentage of marks.
4. Ankit scored the highest percentage of marks in top-4 subjects of a candidate